@font-face {
  font-family: 'Roboto-Regular';
  src: url(roboto-regular.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(roboto-medium.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-SemiBold';
  src: url(roboto-semibold.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(roboto-bold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}